<div>
    <h2>{{artist.name}}</h2>
    {{#if this.chart}}
    <h3>
        <span>Listening history by month for {{year}}</span>
    </h3>
    <table class="chart-table columns-2">
        <thead>
            <tr>
                <th>Month</th>
                <th class="chart-table__count">Play count</th>
            </tr>
        </thead>
        <tbody>
            {{#each this.chart}}
            <tr>
                <td>{{date-month-year datestamp}}</td>
                <td class="chart-table__count">{{total}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
    <h3>
        <span>Top tracks</span>
    </h3>
    {{#if this.topTracks}}
    <table class="chart-table columns-2">
        <thead>
            <tr>
                <th>Track</th>
                <th class="chart-table__count">Play count</th>
            </tr>
        </thead>
        <tbody>
            {{#each topTracks}}
            <tr>
                <td>
                    <a href="/tracks/{{this.id}}">{{this.name}}</a>
                </td>
                <td class="chart-table__count">
                    {{this.total}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
</div>
