<h2>Charts for {{datestamp}}</h2>

{{#if this.bowieTracks}}
<h3>
    <span>Top 10 Bowie tracks</span>
</h3>
<table class="chart-table columns-2">
    <thead>
        <tr>
            <th>Track</th>
            <th class="chart-table__count">Plays</th>
        </tr>
    </thead>
    <tbody>
        {{#each bowieTracks}}
        <tr>
            <td>
                <a href="/tracks/{{this.track_id}}">{{this.track_name}}</a>
            </td>
            <td class="chart-table__count">
                {{this.total}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}

<h3>
    <span>Top 10 artists</span>
</h3>

{{#if this.artists}}
<table class="chart-table columns-2">
    <thead>
        <tr>
            <th>Artist</th>
            <th class="chart-table__count">Plays</th>
        </tr>
    </thead>
    <tbody>
        {{#each artists}}
        <tr>
            <td>
                <a href="/artists/{{this.id}}">{{this.name}}</a>
            </td>
            <td class="chart-table__count">
                {{this.total}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}

<h3>
    <span>Top 10 tracks</span>
</h3>

{{#if this.tracks}}
<table class="chart-table columns-3">
    <thead>
        <tr>
            <th>Track</th>
            <th>Artist</th>
            <th class="chart-table__count">Plays</th>
        </tr>
    </thead>
    <tbody>
        {{#each tracks}}
        <tr>
            <td>
                <a href="/tracks/{{this.id}}">{{this.name}}</a>
                <div class="a11y-when-small">
                    <span>by</span>
                    {{#each this.artists}}
                        <a href="/artists/{{this.id}}">{{this.name}}</a>
                    {{/each}}
                </div>
            </td>
            <td>
                {{#each this.artists}}
                    <a href="/artists/{{this.id}}">{{this.name}}</a>
                {{/each}}
            </td>
            <td class="chart-table__count">
                {{this.total}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}
