<div>
    <h2>{{calendar-date this.date}}</h2>
    {{#if hasBowie}}
        <p><em>Yes!</em> I've had my Bowie fix.</p>
    {{/if}}
    {{#unless hasBowie}}
        <p><em>No!</em> I forgot all about David.</p>
    {{/unless}}

    <ul>
        {{#if links.previous}}
        <li>
            <a href="{{links.previous}}">Previous day</a>
        </li>
        {{/if}}
        {{#if links.next}}
        <li>
            <a href="{{links.next}}">Next day</a>
        </li>
        {{/if}}
    </ul>

    {{#if items}}
    <div class="container">
        {{#each items}}
        <div class="hour" style="height: {{this.hourHeight}}px;">
            <time class="hour-time" datetime="{{date-time this.time}}">{{time this.time}}</time>
            {{#each this.items}}
            <div class="event" style="height: calc({{this.trackHeight}} * var(--card-unit-height)); top: {{this.posY}}px;">
                <div class="event-time">
                    <time datetime="{{date-time this.played_at}}">{{time this.played_at}}</time>
                </div>
                <div class="event-body">
                    {{#if this.track_id}}
                    <a href="/tracks/{{this.track_id}}" class="event-track-name">{{this.track_name}}</a>
                    {{/if}}
                    {{#if this.artist_id}}
                    <span class="separator">&#183;</span>
                    <a href="/artists/{{this.artist_id}}" class="event-artist-name">{{this.artist_name}}</a>
                    {{/if}}
                    {{#if this.skipped}}<span class="event-skipped">Skipped</span>{{/if}}
                </div>
                {{#if this.track_duration}}
                <time class="event-duration">{{duration this.track_duration}}</time>
                {{/if}}
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#unless items}}
    <p>No tracks were played today.</p>
    {{/unless}}
</div>
