<div class="layout-diary">
    <ul class="diary-pagination">
        {{#if links.previous}}
        <li>
            <a href="{{links.previous}}">Previous day</a>
        </li>
        {{/if}}
        {{#if links.next}}
        <li>
            <a href="{{links.next}}">Next day</a>
        </li>
        {{/if}}
    </ul>

    <h2 class="heading-2">{{calendar-date this.date}}</h2>

    {{#if hasBowie}}
        <p><em>Yes!</em> I've had my Bowie fix.</p>
    {{/if}}
    {{#unless hasBowie}}
        <p><em>No!</em> I forgot all about David.</p>
    {{/unless}}

    {{#if items}}
    <div class="container">
        {{#each items}}
        <div class="hour" style="height: {{this.hourHeight}}px;">
            <time class="hour-time" datetime="{{date-time this.time}}">{{time this.time}}</time>
            {{#each this.items}}
            <div class="event" style="height: calc({{this.trackHeight}} * var(--card-unit-height)); top: {{this.posY}}px;">
                <div class="event-time">
                    <time datetime="{{date-time this.startTime}}">{{time this.startTime}}</time>
                </div>
                <div class="event-body">
                    {{#if this.track.id}}
                    <a href="/tracks/{{this.track.id}}" class="event-track-name">{{this.track.name}}</a>
                    {{/if}}
                    {{#each this.track.artists}}
                    <span class="separator">&#183;</span>
                    <a href="/artists/{{this.id}}" class="event-artist-name">{{this.name}}</a>
                    {{/each}}
                    {{#if this.skipped}}<span class="event-skipped">Skipped</span>{{/if}}
                </div>
                {{#if this.track.duration_ms}}
                <time class="event-duration">{{duration this.track.duration_ms}}</time>
                {{/if}}
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#unless items}}
    <p>No tracks were played today.</p>
    {{/unless}}
</div>
