<div>
    <h2>{{name}}</h2>
    <ol>
        {{#each artists}}
            <li>
                <a href="/artists/{{id}}">{{name}}</a>
            </li>
        {{/each}}
    </ol>
    <ul>
        <li>Duration: {{duration duration_ms}}</li>
        <li>Total plays: {{total}}</li>
    </ul>
</div>
