<div>
    <h2>{{artist.name}}</h2>
    {{#if this.chart}}
    <h3>Listening history by month for 2019</h3>
    <table>
        <thead>
            <tr>
                <th>Month</th>
                <th>Play count</th>
            </tr>
        </thead>
        <tbody>
            {{#each this.chart}}
            <tr>
                <td>{{date-month-year datestamp}}</td>
                <td>{{total}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
    <h2>Top tracks</h2>
    {{#if this.topTracks}}
    <table>
        <thead>
            <tr>
                <th>Track</th>
                <th>Play count</th>
            </tr>
        </thead>
        <tbody>
            {{#each topTracks}}
            <tr>
                <td>
                    <a href="/tracks/{{this.track_id}}">{{this.track_name}}</a>
                </td>
                <td>
                    {{this.total}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
</div>
