<div>
    <h2>{{calendar-date this.date}}</h2>
    {{#if hasBowie}}
        <p><em>Yes!</em> I've had my Bowie fix.</p>
    {{/if}}
    {{#unless hasBowie}}
        <p><em>No!</em> I forgot all about David.</p>
    {{/unless}}

    <ul>
        {{#if this.previous}}
        <li>
            <a href="{{this.previous}}">Previous day</a>
        </li>
        {{/if}}
        {{#if this.next}}
        <li>
            <a href="{{this.next}}">Next day</a>
        </li>
        {{/if}}
    </ul>

    <style>
        :root {
            --card-unit-height: 20px;
            --event-unit-height: calc(1rem * 12);
        }

        .card {
            border: 1px solid #ccc;
            border-radius: 2px;
            display: block;
            min-height: var(--card-unit-height);
            margin-left: 59px;
        }
        .hour {
            background: rgba(0, 0, 0, .1);
            border-top: 1px solid #ccc;
            min-height: var(--event-unit-height);
            position: relative;
        }

        .time {
            background: #fff;
            font-size: .75rem;
            padding: 0 1rem;
            position: absolute;
            margin-top: -.5rem;
        }
    </style>
    {{#if items}}
    <div class="container">
        {{#each items}}
        <div class="hour">
            <time class="time" datetime="{{date-time this.time}}">{{time this.time}}</time>
            {{#each this.items}}
            <div class="card" style="height: calc({{this.trackHeight}} * var(--card-unit-height));">
                <time class="start-time" datetime="{{date-time this.played_at}}">{{time this.played_at}}</time>
                {{#if this.track_id}}
                <a href="/tracks/{{this.track_id}}">{{this.track_name}}</a>
                {{/if}}
                {{#if this.artist_id}}
                <a href="/artists/{{this.artist_id}}">{{this.artist_name}}</a>
                {{/if}}
                {{#if this.duration_ms}}
                <time>{{duration this.duration_ms}}</time>
                {{/if}}
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#unless items}}
    <p>No tracks were played today.</p>
    {{/unless}}
</div>
