<div>
    <h2>{{track_name}} by <a href="/artists/{{artist_id}}">{{artist_name}}</a></h2>
    <ul>
        <li>Duration: {{duration duration}}</li>
        <li>Total plays: {{total}}</li>
    </ul>
</div>
